
  .modal-content .modal-header {
    background: #512DA8;
    color: floralwhite;
    border-bottom: none; 
  }
    .modal-content .modal-header .close {
      color: floralwhite; }
  
  .modal-content .modal-body {
    background: #D1C4E9; }
  
  .modal-content .modal-footer {
    background: #D1C4E9;
    border-top: none; }